<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryAdministrator.My.MySettings.libraryConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=library;Persist Security Info=True;User ID=sa;Password=fd43FAS4df"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>